page-home {

    .redtext{
        color: red;
    }

    .greentext{
        color: green;
    }

    .bluetext{
        color: blue;
    }

    .orangetext{
        color: orange;
    }

    .yellowtext{
        color: yellow;
    }

    h2{
        font-size: 2.0em;
    }

}
